@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Roboto:wght@400;500;700;900&display=swap');


body {
    background: url(img/background1.png);
    background-repeat: no-repeat;
    background-color: #00151D;
    background-size: 1440px;
    font-family: 'Days One', sans-serif;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

/* navigation and button */
.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav ul li {
    display: flex;
    align-items: center;
}

.logo a {
    color: #32bd83;
    font-size: x-large;
    font-weight: 700;
}

.logo {
    margin-top: 27px;
}

nav ul li a {
    color: #32bd83;
}

.btn1 {
    width: 110px;
    height: 40px;
    background: #32bd83;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-family: 'Days One', sans-serif;
}

.btn2 {
    width: 110px;
    height: 40px;
    background: #2AE9DE;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-family: 'Days One', sans-serif;
}

.btn1:hover {
    background: #2ea272;
}

.btn2:hover {
    background: #24b5ad;
}

/* hero section */
.main-container {
    margin-top: 35px;
    margin-bottom: 280px;
}

#hero {
    margin-right: 100px;
    margin-top: 133px;
    text-align: right;
    color: white;
}

#hero h1 {
    color: white;
    font-size: 40px;
    font-weight: 20;
    padding-bottom: 30px;
}

#hero p {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 400;
}

#hero h1 span {
    color: #2AE9DE;
}

.btn3 {
    width: 180px;
    height: 80px;
    border-radius: 10px;
    font-size: 20px;
    background: #159957;
    border: none;
    font-family: 'Days one', sans-serif;
    padding: 0 15px;
    cursor: pointer;
}

.btn3:hover{
    background: #106f40 ;
}

.btn4 {
    width: 180px;
    height: 80px;
    border-radius: 10px;
    font-size: 20px;
    background: #159957;
    border: none;
    font-family: 'Days one', sans-serif;
    padding: 0 15px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 71px;
}

.btn4:hover{
    background: #106f40 ;
}

/* About Us Section */
.container {
    background-color: #00151D;
    background-image: url(img/bg2.png);
    background-size: cover;
    width: auto;
    height: auto;
    color: white;
}

.container h1{
    padding-top: 100px;
    font-size: 30px;
    font-weight: 100;
}
.About{
    display: flex;
}

.title{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 150;
    color: #32bd83;
}

.kiri{
    display: flex;
    flex-direction: column;
    margin-left: 143px;
    margin-top: 110px;
}

.kiri p{
    max-width: 50%;
    text-align: justify;
    font-size: 20px;
    padding-bottom: 119px;
    font-weight: 100;
}

.kanan{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-right: 200px;
}

.kanan img{
    width: 420px;
    height: 200px;
    padding-bottom: 99px;
}

.bigcrew{
    display: flex;
    gap: 70px;
    margin-right: 145px;
}

.crew img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-top: 105px;
    margin-right: 20px;
}

.infocrew h1{
    font-size: 22px;
}

.infocrew h2{
    font-size: 14px;
    opacity: 70%;
}

.crew{
    display: flex;
    margin-left: 145px;
}

.info{
    display: flex;
    gap: 15px;
}

.info h3{
    font-size: 16px;
    opacity: 70%;
}

.info svg{
    padding-top: 10px;
    width: 35px;
    height: 35px;
    fill: white;
}

.info svg:hover{
    fill: rgb(201, 104, 201);
}

.bigcareer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bigcareer p {
    max-width: 900px;
    text-align: center;
    font-size: 32px;
    color: #34E89E;
    margin-bottom: 527px;
}

.klik{
    margin-bottom: 62px;
}