@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Roboto:wght@400;500;700;900&display=swap');


body {
    background: url(img/background1.png);
    background-repeat: no-repeat;
    background-color: #00151D;
    background-size: 1440px;
    font-family: 'Days One', sans-serif;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav ul li {
    display: flex;
    align-items: center;
}

.logo a {
    color: #32bd83;
    font-size: x-large;
    font-weight: 700;
}

.logo {
    margin-top: 27px;
}

nav ul li a {
    color: #32bd83;
}

.btn1 {
    width: 110px;
    height: 40px;
    background: #32bd83;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-family: 'Days One', sans-serif;
}

.btn2 {
    width: 110px;
    height: 40px;
    background: #2AE9DE;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-family: 'Days One', sans-serif;
}

.btn1:hover {
    background: #2ea272;
}

.btn2:hover {
    background: #24b5ad;
}

.main-container {
    margin-top: 35px;
}

#hero {
    margin-right: 100px;
    margin-top: 133px;
    text-align: right;
    color: white;
}

#hero h1 {
    color: white;
    font-size: 40px;
    font-weight: 20;
    padding-bottom: 30px;
}

#hero p {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 400;
}

#hero h1 span {
    color: #2AE9DE;
}

.btn3 {
    width: 180px;
    height: 80px;
    border-radius: 10px;
    font-size: 20px;
    background: #159957;
    border: none;
    font-family: 'Days one', sans-serif;
    padding: 0 15px;
}

.container {
    background-color: #00151D;
    background-image: url(img/bg2.png);
    background-size: cover;
    width: auto;
    height: 1024px;
    margin-top: 420px;
    color: white;
}

.title{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.kiri{
    margin-left: 143px;
    margin-right: 200px;
}